.c-top-navigation{
    top: 0;
    height: calc(var(--app-base-measure) * 7);
    gap: calc((var(--app-base-measure) * 6));


    @media screen and (max-width: 768px){
        height: calc(var(--app-base-measure) * 10);

        & .c-navigation-routes{
            display: none;
        }
    }
}
