.o-contact-section{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: var(--section-base);

    @media screen and (min-height: 800px){
        height: 90vh;
    }

    @media screen and (max-width: 1024px) and (max-height: 530px){
        height: 250vh;
    }

}
