.c-form{
    display: flex;
    position: relative;
    flex-direction: column;
    gap: calc(var(--app-base-measure) * 3);
    padding: calc(var(--app-base-measure) * 3);

    & .c-form-element{
        --form-textarea-width: clamp(5vw + var(--app-base-measure) * 20, var(--app-base-measure) * 50, 45vw);
        --form-textarea-height: clamp(1vw + var(--app-base-measure) * 15, var(--app-base-measure) * 3, 15vw);
        width: clamp(5vw + var(--app-base-measure) * 20, var(--app-base-measure) * 50, 45vw);
        height: clamp(1vw + var(--app-base-measure) * 1, var(--app-base-measure) * 3, 15vw);
        padding: calc(var(--app-base-measure) * 2);
    }

    @media screen and (min-width: 1024px) {
        position: absolute;
        gap: calc(var(--app-base-measure) * 4);
        padding: calc(var(--app-base-measure) * 4);

        & .c-form-element{
            height: 100%;
            --form-textarea-height: calc(var(--app-base-measure) * 25);
        }
    }
}


