.o-contact-section{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    height: 130vh;

    @media screen and (max-width: 1024px) and (max-height: 530px){
        height: 250vh;
    }

    // @media screen and (max-width: 1024px) and (max-height: 740px){
    //     height: 140vh;
    // }

    // @media screen and (max-width: 1024px) and (max-height: 660px){
    //     height: 155vh;
    // }

    // @media screen and (max-width: 1024px) and (max-height: 610px){
    //     height: 160vh;
    // }

    // @media screen and (max-width: 1024px) and (max-height: 590px){
    //     height: 165vh;
    // }

    // @media screen and (max-width: 1024px) and (max-height: 575px){
    //     height: 170vh;
    // }

    // @media screen and (max-width: 1024px) and (max-height: 540px){
    //     height: 250vh;
    // }

}
