.l-bg-primary{
    background: linear-gradient(90deg, var(--primary-dark-color) 15%, var(--primary-light-color) 100%);
}

.l-bg-primary-white{
    background-color: var(--primary-white-color);
}

.l-bg-secondary-water{
    background-color: var(--secondary-water-color);
}

.l-bg-primary-light{
    background-color: var(--primary-light-color);
}

.l-bg-gray{
    background-color: var(--disable-background-color);
}

