.l-font-primary{
    background: -webkit-linear-gradient(var(--primary-dark-color), var(--primary-light-color));
    background-clip: text;
    font-weight: 600;
    -webkit-text-fill-color: transparent;
}

.l-font-primary-white{
    color: var(--primary-white-color);
    font-weight: 500;
}

.l-font-secondary-water{
    color: var(--secondary-water-color);
    font-weight: 500;
}
