.o-blog-container{
    display: flex;
    height: 100vh;
    margin-top: var(--navigation-measure-difference);
    padding: calc(var(--app-base-measure) * 5);
    background-color: var(--primary-white-color);

    & .c-blog-element{
        position: relative;
        overflow: hidden;
        border-radius: 1rem;
        width: calc(var(--app-width-responsive) / 1);
        height: calc(var(--app-width-responsive) / 1.5);

        @media screen and (min-width: 1024px){
            height: calc(var(--app-width-responsive) / 2);
            width: calc(var(--app-width-responsive) / 1.2);
        }
    }
}
