:root{
    //COLOURS

    --primary-white-color: #fff;
    --primary-light-color: #1E5CB1;
    --primary-dark-color: #193B7F;
    --secondary-water-color: #4EC8C6;

    //MEASURES

    --app-base-measure: 8px;

    //SHADOW-EFFECT

    --base-box-shadow: 0px 5px 10px 0px black;
}
