.c-hero-section-container{
    display: flex;
    flex-direction: column;
    padding: calc(var(--app-base-measure) * 8);
    z-index: var(--component-index);
    gap: calc(var(--app-base-measure) * 8);
    width: 100%;
    --margin-left-adjust-mobile: calc(var(--app-base-measure) * -3);
    --margin-left-adjust-desktop: calc(var(--app-base-measure) * 4);

    @media screen and (min-width: 1024px){
        padding: calc(var(--app-base-measure) * 10);
    }

    & .c-container-tittle{
        font-size: calc(var(--app-base-font-size) * 2.5);
        z-index: 1;
        width: 100%;
        white-space: nowrap;
        margin-left: var(--margin-left-adjust-mobile);

        @media screen and (min-width: 1024px){
            margin-left: var(--margin-left-adjust-desktop);
        }
    }

    & .c-content{
        display: flex;
        flex-direction: column;
        justify-items: left;
        gap: calc(var(--app-base-measure) * 2);
        margin-left: var(--margin-left-adjust-mobile);

        @media screen and (min-width: 1024px){
            margin-left: var(--margin-left-adjust-desktop);
        }

        & .c-list-title{
            font-size: calc(var(--app-base-font-size) * 1.7);
            margin-left: calc(var(--app-base-measure) * 1.5)
        }

        & .c-list{
            display: flex;
            flex-direction: column;
        }

        & .c-list-item{
            display: flex;
            align-items: center;
            height: 20%;

            @media screen and (min-width: 1024px){
                height: 30%;
            }
        }

    }

    & .c-container-check-icon{
        transform: scale(0.5);
    }

}
