@use '../../../tools/mixins';

.o-hero-section{
    display: flex;
    height: 600px;
    position: relative;
    margin-top: var(--navigation-measure-difference);

    @media screen and (max-width: 1024px) and (max-height: 540px){
        height: 500px;
    }

    &::after{
        @include mixins.image-gradient-mixin(90deg);
    }
}
